* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

.site-page-header {
  display: flex;
  line-height: 50px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

.site-page-header .anticon {
  line-height: 50px;
}

.site-page-header .anticon-search {
  height: 100%;
  line-height: 9.33333vw;
}

.site-page-header .ant-input-affix-wrapper {
  width: 75.2vw;
  height: 8vw;
  border: none;
}

.searchType {
  width: 100vw;
  height: 13.33333vw;
  font-size: 16px;
}

.searchType ul {
  display: flex;
}

.searchType ul li {
  width: 50%;
  height: 13.33333vw;
  line-height: 13.33333vw;
}

.active {
  color: #ff6600;
  border-bottom: #ff6600 solid 1px;
}

.hot {
  color: #999999;
  text-align: left;
  margin: 0 10px;
  display: inline-block;
}

.hot ul li {
  float: left;
  margin: 3px;
  background: #e7e7e7e7;
  color: #666;
  padding: 6px 10px;
  font-size: 12px;
  border-radius: 5px;
}
